#root {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  color: black;
}

.App {
  height: 640px;
  width: 340px;
}

.Feed {
  height: 544px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

.Thread {
  min-height: 100px;
}
